@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: fit-content;
  min-width: 400px;

  @include flex-column(1.5rem);

  form {
    @include flex-column(1rem);

    input {
      border: none;
      outline: none;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
    }

  }

  .toggleAuthForm {
    color: #e51e1e;
    text-decoration: none;
  }
}
