.button {
  all: unset;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  text-align: center;
  transition: transform 0.1s ease-in-out;

  &.button-primary {
    background-color: #e51e1e;
    color: whitesmoke;
  }

  &:active {
    transform: scale(0.98);
  }
}
